<div class="dropdown">
     <img src="https://image.ibb.co/hGdGU5/eau_de_parfum_3.png" alt="logo"></a>
            <a class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              <span class="icon-bars-button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </span>
            </a>
</div>
<body>

 


  <div id="map"></div>


<div class="pin-shadow"></div>
</div>
    <div class="action">
        
      <img src="https://image.ibb.co/nomybk/noun_977708.png">
      <button><a class="waves-effect waves-light btn" id ="marker">SHOW VENDORS</a></button>
  <img src="https://image.ibb.co/iutY95/noun_762334.png">
      <button><a class="waves-effect waves-light btn" id ="center">CENTRE MAP</a></button>
 <img src="https://image.ibb.co/cPejGk/noun_1126480.png">
      <button><a class="waves-effect waves-light btn" id ="marker2">FIND MY LOCATION</a></button>
</div>
  
 <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdfipYKTyWEiJXhGSRos_HxVAaEcUQyuw&callback=initMap">
        </script>
  
</body>
  
  